@using Leaf.Web.ViewModel
@model Leaf.Web.ViewModel.ClientCreationViewModel
@{
    ViewData["Title"] = "Modification Client";
}

<div>
    <h2 style="text-align:center">Modifier le client @Model.Company</h2>
</div>

<div class="row">
    <div class="col-md-6">
        <form asp-controller="Clients" asp-action="SaveClient" asp-route-id="@Model.Clientnew.Id" method="post">
            <h4>Compagnie: </h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Company"></label>
                <input asp-for="Company" class="form-control" />
                <span asp-validation-for="Company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adress"></label>
                <input asp-for="Adress" class="form-control" />
                <span asp-validation-for="Adress" class="text-danger"></span>
            </div>
            <br />
            <h4>Référent client:</h4>
            <br />
            <div class="form-group">
                <label asp-for="ReferentName"></label>
                <input asp-for="ReferentName" class="form-control" />
                <span asp-validation-for="ReferentName" class="text-danger"></span>
            </div>
            <!--
            <div class="form-group">
                <label asp-for="clientnew.Prenom"></label>
                <input asp-for="clientnew.Prenom" class="text-danger" />
                <span asp-validation-for="referentSurname" class="text-danger"></span>
            </div>
            -->
            <div class="form-group">
                <label asp-for="ReferentPhone"></label>
                <input asp-for="ReferentPhone" class="form-control" />
                <span asp-validation-for="ReferentPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReferentMail"></label>
                <input asp-for="ReferentMail" class="form-control" />
                <span asp-validation-for="ReferentMail" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-default">Modifier le client</button>

            <input type="button" value="Annuler" class="btn btn-default cancel" onclick="location.href='@Url.Action("ClientList", "Clients", null)'" />
        </form>

    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}