
@using NonFactors.Mvc.Grid;
@model IEnumerable<Tache>
@{
    ViewData["Title"] = "Accueil";
}

<div>
    Updates
</div>
<div>
    <h1>Tâches personnelles</h1>


    @(Html
        .Grid(Model)
        .Build(columns =>
        {
        columns.Add(model => model.IdProjNavigation.Nom).Titled("Projet");
        columns.Add(model => model.Nom).Titled("Tâche").Sortable(true);
        columns.Add(model => model.Debut).Titled("Date de début").Sortable(true);
        columns.Add(model => (((DateTime)model.Fin) - ((DateTime)model.Debut)).Days + " jours").Titled("Durée");
        columns.Add(model => (DateTime.Today - ((DateTime)model.Fin)).Days + " jours").Titled("Temps restant").Sortable(true);
    })
        .Filterable()
        .Sortable()
        .Pageable()
    )

</div>